 = form.text_field :num11, placeholder: :選手名, id: :num11
      = form.text_field :num10, placeholder: :選手名, id: :num10
      = form.text_field :num9, placeholder: :選手名, id: :num9
      = form.text_field :num8, placeholder: :選手名, id: :num8
      = form.text_field :num7, placeholder: :選手名, id: :num7
      = form.text_field :num6, placeholder: :選手名, id: :num6
      = form.text_field :num5, placeholder: :選手名, id: :num5 
      = form.text_field :num4, placeholder: :選手名, id: :num4
      = form.text_field :num3, placeholder: :選手名, id: :num3
      = form.text_field :num2, placeholder: :選手名, id: :num2 
      = form.text_field :num1, placeholder: :選手名, id: :num1 
    .form_btn