= form.text_field :num11, placeholder: :選手名, id: :num11_4_5_1
= form.text_field :num10, placeholder: :選手名, id: :num10_4_5_1
= form.text_field :num9, placeholder: :選手名, id: :num9_4_5_1
= form.text_field :num8, placeholder: :選手名, id: :num8_4_5_1
= form.text_field :num7, placeholder: :選手名, id: :num7_4_5_1
= form.text_field :num6, placeholder: :選手名, id: :num6_4_5_1
= form.text_field :num5, placeholder: :選手名, id: :num5_4_5_1 
= form.text_field :num4, placeholder: :選手名, id: :num4_4_5_1
= form.text_field :num3, placeholder: :選手名, id: :num3_4_5_1
= form.text_field :num2, placeholder: :選手名, id: :num2_4_5_1 
= form.text_field :num1, placeholder: :選手名, id: :num1_4_5_1 
