%head
  %meta{:charset => "utf-8"}/
  %title SOCCER LINEUP
  %link{:charset => "utf-8", :href => "style.css", :rel => "stylesheet"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
  %script{:src => "./main.js"}

.wrapper
  = render "header"
.main
  .game_box
    - @posts.each do |post|
      .data-box
        .game-date
          = post.date
        .game-match
          = link_to post.match, post_path(post.id)
        .game-result
          = post.result
        .game-text
          = post.text