.new_form
新規投稿
.edit-form
  = form_with model: @post, local: true do |form|
    = form.date_field :date, placeholder: :日付
    = form.text_area :match, placeholder: :対戦相手
    = form.text_area :result, placeholder: :結果 
    = form.text_area :formation, placeholder: :フォーメーション
    = form.text_area :num11, placeholder: :選手名
    = form.text_area :num10, placeholder: :選手名
    = form.text_area :num9, placeholder: :選手名
    = form.text_area :num8, placeholder: :選手名
    = form.text_area :num7, placeholder: :選手名
    = form.text_area :num6, placeholder: :選手名
    = form.text_area :num5, placeholder: :選手名 
    = form.text_area :num4, placeholder: :選手名
    = form.text_area :num3, placeholder: :選手名
    = form.text_area :num2, placeholder: :選手名 
    = form.text_area :num1, placeholder: :選手名 
    = form.submit '投稿する', class: :form__btn