.new_form
新規投稿
.edit-form
  = form_with model: @post, local: true do |form|
    = form.date_field :date, placeholder: :日付
    = form.text_field :match, placeholder: :対戦相手
    = form.text_field :result, placeholder: :結果 
    = form.text_field :formation, placeholder: :フォーメーション
    = form.text_field :num11, placeholder: :選手名
    = form.text_field :num10, placeholder: :選手名
    = form.text_field :num9, placeholder: :選手名
    = form.text_field :num8, placeholder: :選手名
    = form.text_field :num7, placeholder: :選手名
    = form.text_field :num6, placeholder: :選手名
    = form.text_field :num5, placeholder: :選手名 
    = form.text_field :num4, placeholder: :選手名
    = form.text_field :num3, placeholder: :選手名
    = form.text_field :num2, placeholder: :選手名 
    = form.text_field :num1, placeholder: :選手名 
    = form.text_area :text, placeholder: :試合メモ（選手交代・得点者など）
    = form.submit '投稿する', class: :form__btn
