= form_with model: @post, class: :form, local: true do |form|
  = form.
  = form.text_area :content, placeholder: :選手名, id: :num11
  = form.text_area :content, placeholder: :選手名, id: :num10
  = form.text_area :content, placeholder: :選手名, id: :num9
  = form.text_area :content, placeholder: :選手名, id: :num8
  = form.text_area :content, placeholder: :選手名, id: :num7
  = form.text_area :content, placeholder: :選手名, id: :num6
  = form.text_area :content, placeholder: :選手名, id: :num5
  = form.text_area :content, placeholder: :選手名, id: :num4
  = form.text_area :content, placeholder: :選手名, id: :num3
  = form.text_area :content, placeholder: :選手名, id: :num2
  = form.text_area :content, placeholder: :選手名, id: :num1
  = form.submit '投稿する', class: :form__btn