.wrapper
  = render "header"
.main-contents
  .left-contents
    .lineup
      .lineup-logo
        スターティングメンバー
        .sutamen
          = @post.num1
          %br
          = @post.num2
          %br
          = @post.num3
          %br
          = @post.num4
          %br
          = @post.num5
          %br
          = @post.num6
          %br
          = @post.num7
          %br
          = @post.num8
          %br
          = @post.num9
          %br
          = @post.num10
          %br
          = @post.num11
        .sutamen_memo
          = @post.text
    .btn_box
      .edit_form
        = link_to "編集", edit_post_path(@post.id)
      .delete_form
        = link_to "削除", post_path(@post.id), method: :delete
      .back-btn
      = link_to "トップページへ戻る", posts_path
  .right-contents
    .lineup
      スタメンフォーメーション
      .lineup-formation
        = @post.date
        = @post.match + "戦"
      .sutamen_num1
        = @post.num1
      .sutamen_num2  
        = @post.num2
      .sutamen_num3
        = @post.num3
      .sutamen_num4
        = @post.num4
      .sutamen_num5
        = @post.num5
      .sutamen_num6
        = @post.num6
      .sutamen_num7
        = @post.num7
      .sutamen_num8
        = @post.num8
      .sutamen_num9
        = @post.num9
      .sutamen_num10
        = @post.num10
      .sutamen_num11
        = @post.num11