.wrapper
  = render "header"
.main-contents
  .left-contents
    .lineup
      .lineup-logo
        スターティングメンバー
        .sutamen
          = @post.num1
          %br
          = @post.num2
          %br
          = @post.num3
          %br
          = @post.num4
          %br
          = @post.num5
          %br
          = @post.num6
          %br
          = @post.num7
          %br
          = @post.num8
          %br
          = @post.num9
          %br
          = @post.num10
          %br
          = @post.num11
        .sutamen_memo
          = @post.text
    .btn_box
      .edit_form
        = link_to "編集", edit_post_path(@post.id)
      .delete_form
        = link_to "削除", post_path(@post.id), method: :delete
      .back-btn
      = link_to "トップページへ戻る", posts_path
  .right-contents
    .lineup
      スタメンフォーメーション
      .lineup-formation
        = @post.date
        = @post.match + "戦"
        -# - if @post.formation == 1
        -#   = render "formation1"
        -#   - elseif @post.formation == 2
        -#     = render "formation2"
        -#   - elseif @post.formation == 3
        -#     = render "formation3"
        -#   - elseif @post.formation == 4
        -#     = render "formation4"
        -#   - elseif @post.formation == 5
        -#     = render "formation5"
        -#   - elseif @post.formation == 6
        -#     = render "formation6"
